body{
    font-family: 'Open Sans', sans-serif;
    color:white;
    background-color: black;
}

.h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
   }

.carousel{
    top: 0;
}

/* smooth a sroll*/
.bg-interno{
    background-color: #16a2b7;
    transition: all 2s ease;
   }

.carousel-inner {
    width: 100%; 
    overflow: hidden;
    }

    .carousel-item {
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
.navbar {
        background-color: transparent !important;
        color:white;
      }

hr { 
    color: #1798c1!important;
    background-color: #1798c1!important;
    margin-left: 35px;
    margin-right: 35px;
}

section{
    background-color: black;
}

section p{
    color: white !important;
    text-align: left;
}

.fa-plane {
    color: white;
    background-color:#1798c1;
    padding-left: 140px;
    padding-right: 140px;
    font-size: 150%;
    margin: 0 auto;
    margin-right: 10px;
    
  }
  
  .fa-car {
    color: white;
    background-color:#1798c1;
    padding-left: 140px;
    padding-right: 140px;
    font-size: 150%;
    margin: 0 auto;
    margin-right: 10px;
  }
  
  .fa-anchor {
    color: white;
    background-color:#1798c1;
    padding-left: 140px;
    padding-right: 140px;
    font-size: 150%;
    margin: 0 auto;
    margin-right: 10px;
  }


.text{
 color: black !important;

}


